<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1015052389920-ceou0eh81p10so0kmae2a7q502ed8tdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015052389920-ceou0eh81p10so0kmae2a7q502ed8tdv</string>
	<key>API_KEY</key>
	<string>AIzaSyCU7lJ1eTboR6VLEDDbc0PfiY5tanhXhI8</string>
	<key>GCM_SENDER_ID</key>
	<string>1015052389920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Siavash.MaxRep</string>
	<key>PROJECT_ID</key>
	<string>maxrep-18e27</string>
	<key>STORAGE_BUCKET</key>
	<string>maxrep-18e27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015052389920:ios:4843e826d15047cf</string>
	<key>DATABASE_URL</key>
	<string>https://maxrep-18e27.firebaseio.com</string>
</dict>
</plist>